<div ng-controller="QandAlistController">
	<div class="container-fluid">
		<div class="row">
			<div class="row">
		        <div class="col-xs-12 trendingTitle">
		      		Trending Now
          		</div>
          	</div>
			<div class="col-xs-12 trendBlock hand" ng-repeat="question in questions.slice().reverse()">
	            <div class="row" ng-click="goToDebate(question)">
	                <div class="col-xs-12">
                        <p class="qFont"><b>Q.</b> {{question.question}} ?</p>
                    </div>
                    <div class="col-xs-12">
                       	<div class="voteBtn">
                            Vote Now
                        </div>
                    </div>
	            </div>
	        </div>
		</div>
	</div>
</div>