<div ng-controller="QandAlistController">
	<div class="container-fluid">
		<div class="row">
			<div class="row">
		        <div class="col-xs-12 trendingTitle">
		      		Recent Questions
          		</div>
          	</div>
			<div class="col-xs-12 trendBlock hand" ng-repeat="question in questions">
	                    <div class="row" ng-click="goToDebate(question)">
	                         <div class="col-xs-12">
                                <p class="qFont"><b>Q.</b> {{question.question}}?</p>
                            </div>
                            <div class="col-xs-12" style="color:gray">
                            	<span>By - {{question.createdBy}}</span>
                            	<span class="pull-right">Views - {{question.views}}</span>
                            </div>
	                    </div>
	                </div>
		</div>
	</div>
</div>